<settings xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="https://developer.garmin.com/downloads/connect-iq/resources.xsd">

    <setting propertyKey="@Properties.ShowMinuteHand" title="@Strings.ShowMinuteHandTitle">
        <settingConfig type="boolean" />
    </setting>

    <setting propertyKey="@Properties.ShowDate" title="@Strings.ShowDateTitle">
        <settingConfig type="boolean" />
    </setting>

    <setting propertyKey="@Properties.ShowBattery" title="@Strings.ShowBatteryTitle">
        <settingConfig type="boolean" />
    </setting>

    <setting propertyKey="@Properties.NoonAtTop" title="@Strings.NoonAtTopTitle">
        <settingConfig type="boolean" />
    </setting>

    <setting propertyKey="@Properties.FiveMinTickColor" title="@Strings.FiveMinTickColorTitle">
        <settingConfig type="list">
            <listEntry value="0">@Strings.ColorOff</listEntry>
            <listEntry value="1">@Strings.ColorYellow</listEntry>
            <listEntry value="2">@Strings.ColorRed</listEntry>
            <listEntry value="3">@Strings.ColorGreen</listEntry>
            <listEntry value="4">@Strings.ColorBlue</listEntry>
            <listEntry value="5">@Strings.ColorOrange</listEntry>
        </settingConfig>
    </setting>

    <setting propertyKey="@Properties.TickLabelStyle" title="@Strings.TickLabelStyleTitle">
        <settingConfig type="list">
            <listEntry value="0">@Strings.TickLabelRotated</listEntry>
            <listEntry value="1">@Strings.TickLabelUpright</listEntry>
            <listEntry value="3">@Strings.TickLabelRadial</listEntry>
            <listEntry value="2">@Strings.TickLabelOff</listEntry>
        </settingConfig>
    </setting>

    <setting propertyKey="@Properties.ShowMinuteMarks" title="@Strings.ShowMinuteMarksTitle">
        <settingConfig type="boolean" />
    </setting>

</settings>
